html {
  scroll-behavior: smooth;
}
body{
  margin:0;
  padding:0;
  background: linear-gradient(100deg,red,black) ;
  background-repeat: no-repeat;
  cursor: default;
}
body::-webkit-scrollbar{
  display: none;
}
.navbar{
  position: sticky;
  top: 0%;
  height: 50px;
  padding-left: 30px;
  padding-right: 40px;
  background-color: black;
  box-shadow: 0px 0px 10px 0px black;
  color:red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.name{
  font-size: 20px;
  font-family:arial;
  transition-duration: .25s;
}

.name span{
  color:white;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}
.menu{
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
}
.menu li{
  display:inline-block;
  box-sizing: border-box;
}
.menu li a{
  margin-left:50px;
  text-decoration: none;
  color:red;
  padding: 5px;
  border:2px solid black;
  transition-duration:.25s;
  cursor: pointer;
  box-sizing: border-box;
}
.login{
  padding: 5px;
  background-color: white;  
  border-radius: 5px;
  color: black;
}
.menu li a:hover{
  border:2px solid white;
  font-weight: bold;
  border-radius: 5px;
}
.name:hover{
  color: white;
  text-shadow: 0px 0px 10px 5px red;
}
.para{
  width:400px;
  margin: 60px;
  font-size: larger;
  box-sizing: border-box;
}
/* paragraph */
#para{ 
  display: none;
}
.movie-type div{
  font-size: 40px;
  color: white;
  text-shadow: 0px 0px 5px white;
}

.para h1{
  font-size: 60px;
  text-shadow:1px 1px 5px ;
  box-sizing: border-box;
}
.aboutbtn{
  background-color: black;
  color: white;
}
.readbtn{
  background-color: white;
}
.readbtn, .aboutbtn{
  width:100px;
  height:40px;
  border: none;
  opacity: .7;
  border-radius: 3px;
  transition-duration: .15s;
}
.readbtn:hover,.aboutbtn:hover{
  border-radius: 2px;
  opacity: 1;
}
.adds-block{
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 5px 0px ;
  border-radius:5px;
  overflow: hidden;
}
.adds-block img{ 
  height: 100%;
  width:100%;
  box-sizing: border-box;
}
.adds-section{
  margin-top:10px;
  /* padding-right: 100px; */
  height: 500px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
.heading{
  border:1px solid white;
  box-shadow:inset 10px 10px 10px -5px white;
  transition-duration: .25s;
  padding: 5px;
  border-radius: 5px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation-name:tagline;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count:infinite;
}
.heading:hover{
  box-shadow:inset -10px -10px 10px -5px white;
}
@keyframes tagline {
  50%{
    text-shadow:0px 0px 5px white;
  }
}
.bol-menu,.hol-menu,.tol-menu{
  box-shadow:0px 20px 20px -5px black;
}

/* Bollywood Menu */
.bol-menu{
  position: fixed;
  top: 50px;
  margin-left: 30px;
  width: 135px;
  background-color: white;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition-duration: .15s;
  opacity: .7;
  box-sizing: border-box;
  display: none;
}
.link{
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}
.bol-menu h4, .hol-menu h4, .tol-menu h4{
  padding: 5px;
  border-radius: 5px;
  margin-left: -44px;
  transition-duration:.15s;
  box-sizing: border-box;
}
#bolly:hover~#bol-menu,
#holly:hover~#hol-menu,
#tolly:hover~#tol-menu
{
  top:35px;
  box-sizing: border-box;
  display: block;
}

.bol-menu:hover,
.hol-menu:hover,
.tol-menu:hover
{
  display: block;
}
.bol-menu h4:hover,
.hol-menu h4:hover,
.tol-menu h4:hover
{
  background-color: black;
  padding:5px;
  width: 130px;
  color: red;
  
}

/* Hollywood Menu */
.hol-menu{
  position: fixed;
  top: 50px;
  margin-left: 30px;
  width: 135px;
  background-color: white;
  text-align: center;
  padding: 5px ;
  border-radius: 5px;
  transition-duration: .15s;
  opacity: .7;
  box-sizing: border-box;
  display: none;
}
/* Tollywood Menu */
.tol-menu{
  position: fixed;
  top: 50px;
  margin-left: 30px;
  width: 135px;
  background-color: white;
  text-align: center;
  padding: 5px ;
  border-radius: 5px;
  transition-duration: .15s;
  opacity: .7;
  box-sizing: border-box;
  display: none;
}

/* Login */
.login-canvas{
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -20px;
  background-color: black;
  transition-duration: .5s;
  opacity: .9;
  box-shadow: 0px 1px 3px 0px white;
  box-sizing: border-box;
  display: none;
}
.login-canvas button{
  height: 30px;
  width: 100px;
  position: absolute;
  top:80px;
  right: 100px;
  border-radius: 5px;
  box-sizing: border-box;
  display: none;
}
#login:active~#login-canvas{
  display: block;
}
.login-canvas:hover{
  right: 0px;
  display: block;
}
.login-head{
  color: white;
  font-size: 30px;
  margin:30px ;
  box-sizing: border-box;
}
.login-form{
  margin:10px ;
  display: flex;  
  justify-content: center;
  box-sizing: border-box;
}
.login-form input{
  height: 30px;
  width: 220px;
  margin-top: 15px;
  color: black;
  border-style: none;
  border-radius: 6px;
  padding-left: 10px;
  transition-duration: .15s;
  box-sizing: border-box;
  display: block;
}

[type="submit"]:hover{
  background-color: rgb(168, 168, 168);
}
.login-options{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.login-options img{
  height: 30px;
  margin: 10px;  
  box-sizing: border-box;
}
.login-options img:hover{
  opacity: .7;
  transform: rotate(10deg)
}
.movie-cards{
  margin-top: 50px;
  margin-bottom: 50px;
  height: 380px;
  background-color: white;
  opacity: .7;
  overflow: hidden;
}

.bol-movie,
.hol-movie,
.tol-movie{
  margin-left: 35%;
  margin-top: 20px;
  height: 100px;
  width: 60%;
  box-shadow: 0px 0px 4px 0px black;
  display: flex;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: scroll;
}

.bol-movie::-webkit-scrollbar,
.hol-movie::-webkit-scrollbar,
.tol-movie::-webkit-scrollbar{
  display: none;
}

.mimg{
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  box-sizing: border-box;
}
.movie-cards img{
  height: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px black;
}
.movie-cards img:hover{
  /* opacity: .8; */
  cursor: pointer;
  transform: scale(1.1);
  transition: .15s;
  box-shadow:inset 0px 0px 5px 0px black;
}
.footer{
  margin-left: 10%;
  border-radius: 20px;
  height:40px;
  width: 80%;
  background-color: white;
  opacity: .6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.movie-type{
  height: 380px;
  background-color: black;
  width: 20%;
  position: relative;
  align-items: center;
  top: -360px;
  transition-duration: .15s;
}
.movie-cards:hover>.movie-type{
  width: 30%;
}
.bol-menu ul a{
  text-decoration: none;
}

/* Contact Us */

/* Responsive */

@media screen and (max-width: 400px) {
  .name {
    font-size: 15px; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .mbtn{
    display: none;
  }
  .navbar{
    padding-right: 0px;
  }
  .menu{
    height: 20px;
    width: 150px;
    padding-right: 0px;
    margin-left: 0px;
  }
  .adds-block{
    display: none;
  }
  .bol-movie,
  .hol-movie,
  .tol-movie{
    /* margin-left: 0; */
    width: 100%;
  }
  .footer{
    /* display: block; */
    font-size: 15px;
  }
  .t1,.t2{
    display: none;
  }
}






/* Actors HTML-> CSS */
.movie,
.image,
.audio {
  display: flex;
  overflow: scroll;
  height: fit-content;
  align-items: center;
}

.movie::-webkit-scrollbar,
.image::-webkit-scrollbar,
.audio::-webkit-scrollbar{
  display: none;
}

.movie img,
.audio img
{
  height: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -5px;
  margin: 20px;
  transition: all .15s;
}

.image img{
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -5px;
  margin: 20px;
  transition: all .15s;
}

.image img:hover{
  transform: scale(1.2);
  cursor: zoom-in;
}

.movie img:hover,
.audio img:hover{
  transform: scale(0.9);
}
.movie{
  height: 340px;
}

.image,.audio{
  height: 340px;
  display: none;
}









.options{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.op-icons{
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}

.movs,.auds,.imgs{
  height: 30px ;
  width: 30px;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 5px;
  transition-duration: .15s;
}
.movs{
  background-image: url(../images/icons/video-camera.png);
}
.imgs{
  background-image: url(../images/icons/image.png);
}
.auds{
  background-image: url(../images/icons/headphones.png);
}
.movs:hover,.imgs:hover,.auds:hover{
  transform: scale(1.1);
}

.gt{
  position: fixed;
  left:1%;
  top:89%;
  box-shadow: 0px 0px 10px 1px black;
  z-index: 1;
  border-radius: 10px;
  border-style: solid;
  border-color: red yellow blue green;
  background-color: white;
  width: 108px;
  overflow: hidden;
}